.tim{
    width: 100%;
    max-width: 100%;
    position: relative;
}
.ba{
    width: 100%;
    background: rgb(52, 36, 199);
    display: flex;
    max-width: 100%;
    height: 110px;
}
.ba img{
    width: 100px;
    height: 100px;
    margin-top: 5px;
    margin-left: 30px;
    border-radius: 50%;
}

.ba h1{
    font-family: serif;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 25px;
    color: #fff;
}
.coontainer{
    width: 100%;
    max-width: 100%;
    padding: 40px;
}
.coontainer p{
    font-family: serif;
    font-size: 30px;
    margin: 20px 0px 30px 0px ;
}
.A1{
    padding: 30px;
    display: flex;
    margin: auto;
}

.A1 h2{
    font-family: serif;
    font-size: 50px;
    margin: 20px 20px 10px 20px;
    text-align: center;
}
.A1 p{
    margin: 0px 30px 0px 30px;
    font-size: 25px;
}

.A2{
    padding: 30px;
    display: flex;
}
.A2 .a2{
    width: 10%;
    height: 5%;
}
.A2 h2{
    font-family: serif;
    font-size: 50px;
    margin: 20px 20px 10px 20px;
    text-align: center;
}
.A2 p{
    margin: 0px 30px 0px 30px;
    font-size: 25px;
}
.A3{
    padding: 30px;
    display: flex;
}
.A3 .a3{
    width: 10%;
    height: 5%;
}
.A3 h2{
    font-family: serif;
    font-size: 40px;
    margin: 20px 20px 10px 20px;
    text-align: center;
}
.A3 p{
    margin: 0px 30px 0px 30px;
    font-size: 25px;
}
.A4{
    padding: 30px;
    display: flex;
}
.A4 .a4{
    width: 10%;
    height: 5%;
}
.A4 h2{
    font-family: serif;
    font-size: 50px;
    margin: 20px 20px 10px 0px;
    text-align: center;
}
.A4 p{
    margin: 0px 30px 0px 30px;
    font-size: 25px;
}
.A5{
    padding: 30px;
    display: flex;
}
.A5 .a5{
    width: 10%;
    height: 5%;
}
.A5 h2{
    font-family: serif;
    font-size: 50px;
    margin: 20px 20px 10px 20px;
    text-align: center;
}
.A5 p{
    margin: 0px 30px 0px 30px;
    font-size: 25px;
}
.A6{
    padding: 30px;
    display: flex;
}
.A6 .a6{
    width: 10%;
    height: 5%;
}
.A6 h2{
    font-family: serif;
    font-size: 50px;
    margin: 20px 20px 10px 20px;
    text-align: center;
}
.A6 p{
    margin: 0px 30px 0px 30px;
    font-size: 25px;
}
.A7{
    padding: 30px;
    display: flex;
}
.A7 .a7{
    width: 10%;
    height: 5%;
}
.A7 h2{
    font-family: serif;
    font-size: 40px;
    margin: 20px 20px 10px 20px;
    text-align: center;
}
.A7 p{
    margin: 0px 30px 0px 30px;
    font-size: 25px;
}
.A8{
    padding: 30px;
    display: flex;
}
.A8 .a8{
    width: 10%;
    height: 5%;
}
.A8 h2{
    font-family: serif;
    font-size: 40px;
    margin: 20px 20px 10px 20px;
    text-align: center;
}
.A8 p{
    margin: 0px 30px 0px 30px;
    font-size: 25px;
}.A9{
    padding: 30px;
    display: flex;
}
.A9 .a9{
    width: 10%;
    height: 5%;
}
.A9 h9{
    font-family: serif;
    font-size: 40px;
    margin: 20px 20px 10px 20px;
    text-align: center;
}
.A9 p{
    margin: 0px 30px 0px 30px;
    font-size: 25px;
}


.siguien{
    margin-left: 85%;
    margin-top: 2%;
}
.sig{
    background: #007bff;
    width: 110px;
    height: 40px;
    border-radius: 30px;
}
.si{
    color: #fff;
    font-family: serif;
    font-size: 20px;
}
@media screen and (max-width: 800px){
.tim{
    width: 100%;
    max-width: 100%;
}
.ba{
    width: 100%;
}
.ba h1{
    font-size: 30px;
    margin-left: 10px;
}
.ba img{
    margin-left: 10px;
}
.coontainer{
    width: 100%;
    max-width: 100%;
}
.coontainer p{
    font-size: 20px;
}
.A1{
    flex-direction: column;
    padding: 10px;
    
}
.a1{
    margin-left: 50px;
    
}
.a1 p{
    font-size: 15px;
}

.A2{
    flex-direction: column;
    padding: 10px;
}
.a2{
    margin-left: 50px;
}
.A3{
    flex-direction: column;
    padding: 10px;
}
.a3{
    margin-left: 50px;
}
.A4{
    flex-direction: column;
    padding: 10px;
}
.a4{
    margin-left: 50px;
}
.A5{
    flex-direction: column;
    padding: 10px;
}
.a5{
    margin-left: 50px;
}
.A6{
    flex-direction: column;
    padding: 10px;
}
.a6{
    margin-left: 50px;
}
.A7{
    flex-direction: column;
    padding: 10px;
}
.a7{
    margin-left: 50px;
}.A8{
    flex-direction: column;
    padding: 10px;
}
.a8{
    margin-left: 50px;
}
.A9{
    flex-direction: column;
    padding: 10px;
}
.a9{
    margin-left: 50px;
}
.siguien{
    margin-left: 60%;
}
}
