.cal{
    width: 100%;
    max-width: 100%;
}
.barraa{
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background: #076585;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(8, 12, 12, 0.42), #0d101c61), url(../img/gimm.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(6, 9, 9, 0.413), #0c0a1764), url(../img/gimm.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 30px;
}
.barrita{
    width: 100%;
    height: 110px;
    max-width: 100%;
    background: rgb(52, 36, 199);
    display: flex;
    
}

.barrita img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 30px;
    margin-top: 5px;
}
.barrita h1{
    
    font-family: serif;
    font-size: 50px;
    color: #fff;
    margin-left: 20px;
    margin-top: 15px;
}
.calendarioo{
    margin: auto;
    margin-top: 40px;
    width: 100%;
    height: auto;
    background: none;
    box-shadow: none;
    color: #fff;
    font-family: serif;
    font-size: 30px;
    text-align: center;


}

.botinn{
 font-family: serif;
 color: #fff;
 background: rgb(52, 36, 199);
 padding: 10px;
 border-radius: 30px;
 border: 1px solid #fff;

}
@media screen and (max-width: 800px){
.cal{
    width: 100%;
    max-width: 100%;
}
.barraa{
    width: 100%;
}
.barrita h1{
    width: 100%;
 font-size: 40px;
 margin-left: 5px;
 margin-top: 30px;
}
.barrita img{
    margin-left: 10px;
}
.barrita{
    width: 100%;
}
.calendarioo{
    width: 100%;
    font-size: 20px;
}
.botinn{
    margin-left: 80%;
    margin-bottom: -20%;
}
.botin{
    margin-top: 10px;
}
}