.bar{
    width: 1000%;
    background: rgb(52, 36, 199);
    display: flex;
    padding: 10px 40px 10px 40px;
    margin-left: -130px;
    margin-top: -30px;
}
.bar img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 100px;
    margin-top: 25px;
}
.bar h1{
    
    font-family: serif;
    font-size: 50px;
    color: #fff;
    margin-left: 20px;
    margin-top: 35px;
}
p{
    padding: 30px;
    font-family: serif;
    font-size: 25px;
}
.salto{
    padding: 30px;
    display: flex;
}
.salto img{
    margin: 20px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
}
.salto button{
    
    width: 500px;
    height: 70px;
    margin-top:130px;
    margin-left: -80px;
    border: none;
    background: transparent;
}
.salto .link{
    font-family: serif;
    font-size: 50px;
}
.crunch{
    padding: 30px;
    display: flex;
}
.crunch img{
    margin: 20px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
}
.crunch button{
    
    width: 500px;
    height: 70px;
    margin-top:130px;
    margin-left: -80px;
    border: none;
    background: transparent;
}
.crunch .link{
    font-family: serif;
    font-size: 50px;
}
.twist{
    padding: 30px;
    display: flex;
}
.twist img{
    margin: 20px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
}
.twist button{
    
    width: 500px;
    height: 70px;
    margin-top:130px;
    margin-left: -80px;
    border: none;
    background: transparent;
}
.twist .link{
    font-family: serif;
    font-size: 50px;
}
.salto{
    padding: 30px;
    display: flex;
}
.talon img{
    margin: 20px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
}
.talon button{
    
    width: 500px;
    height: 70px;
    margin-top:130px;
    margin-left: -80px;
    border: none;
    background: transparent;
}
.talon .link{
    font-family: serif;
    font-size: 50px;
}
.elevacion{
    padding: 30px;
    display: flex;
}
.elevacion img{
    margin: 20px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
}
.elevacion button{
    
    width: 500px;
    height: 70px;
    margin-top:130px;
    margin-left: -30px;
    border: none;
    background: transparent;
}
.elevacion .link{
    font-family: serif;
    font-size: 50px;
}
.ir{
    margin-left: 1050px;
    width: 150px;
    height: 30px;
    border-radius: 30px;
    background: #007bff;
}
.irr{
    color: #fff;
    font-family: serif;
    
}