.todito{
    width: 100%;
    max-width: 100%;
}
.barrra{
    width: 100%;
    background: rgb(52, 36, 199);
    display: flex;
    padding: 10px 0px 10px 40px;
    margin-left: 0px;
    margin-top: -30px;
}
.barrra img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 120px;
    margin-top: 30px;
    margin-left: -20px;

}
.barrra h1{
    font-family: serif;
    font-size: 50px;
    color: #fff;
    margin-left: 20px;
    margin-top: 50px;
}
.preguntas{
    width: 100%;
    margin: 40px 40px 20px 40px;
    font-family: serif;
    font-size: 30px;
}
.respuestas{
    width: 100%;
    margin: 10px 45px 10px 45px;
    font-size: 25px;
    flex-wrap: wrap;
    
}
.listoo{
    width: 100%;
    height: auto;
    
}
.estas{
    margin-left: 600px;
    border-radius: 30px;
    background:   #007bff;
}
.listo{
    color: #fff;
    font-family: serif;
    font-size: 30px;
}
@media screen and (max-width: 800px){
    .todito{
        width: 100%;
        max-width: 100%;
    }
    .barrra{
        width: 100%; 
        max-width: 100%;
    }
    .preguntas{
        margin: 10px;
    }
    .barrra h1{
        font-size: 20px;
    }
    .respuestas{
        width: 100%;
        max-width: 100%;
    }
    .listoo{
        width: 100%;
        height: auto;
    }
    .estas{
    margin-left: 60px;
    }
}