
main {
    width: 100%;
    max-width: 100%;
    padding: 0px;
}

.navbar-toggler {
    display: none;
}

.conten {
    padding: 30px 30px 30px 30px;
    display: flex;
    width: 100%;
    max-width: 100%;
}

.columna-uno {
    margin: auto;
    margin-top: 50px;
    width: 100%;
}

.COLUMNA {
    padding: 15px;
    width: 350px;
    height: 400px;
    background: rgb(148, 162, 184);
    color: #fff;
    margin: auto;
    border-radius: 15px;
    box-shadow: 13px 13px 4px -3px rgba(133, 133, 133, 0.578);
    border: 2px solid rgb(215, 222, 222);
}


.COLUMNA .Avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
    left: calc(50% - 50px);
    margin: auto;
    margin-top: -65px;
    margin-left: 65px;
}

.COLUMNA h2 {
    padding: 10px 0px 0px 0px;
    text-align: center;
    font-size: 40px;
    font-family: serif;
    margin-top: 20px;
}


/*.COLUMNA label {
    margin: 0px;
    padding: 0px;
    font-family: serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}*/

.COLUMNA input {
    width: 100%;
    margin-bottom: 25px;
    color: #fff;
}

.COLUMNA input[type="text"],
.COLUMNA input[type="contraseña"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 35px;
    color: #000000;
    font-size: 19px;
    font-family: serif;
    border-radius: 5px;
    color: rgb(69, 69, 70);
    margin-top: 20px;
}

::placeholder {
    color: rgb(69, 69, 70);
    font-family: serif;
    font-size: 17px;
}

.COLUMNA input[type="submit"] {
    margin: auto;
    border: none;
    outline: none;
    height: 35px;
    width: 90px;
    background: #007bff;
    font-size: 17px;
    font-family: serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.COLUMNA .pregunta {
    padding: 20px 0px;
}

.COLUMNA .pregunta a {
    font-family: serif;
    font-size: 15px;
    margin: 5px;
    color: #fff;
    
    width: 100%;
}
@media screen and (max-width: 800px){
    .COLUMNA{
        width: 100%;
        height: auto;
    }

}